/*Cabeçalho*/

.cabecalhoPrincipal .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalhoPrincipal-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Footer*/
.rodapePrincipal-patrocinadores .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.rodapePrincipal-contatoForm{
    width: 30%;
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}
