/*Cabeçalho*/

.cabecalhoPrincipal .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalhoPrincipal-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*principal*/
.conteudoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.conteudoPrincipal-cursos-link{
    width: 23%;
}

.conteudoPrincipal-cursos-link:nth-child(4n){
    margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n+1){
    margin-left: 0;
}

/*info*/

.rodapePrincipal-navMap-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 250px;
}


/*Footer*/
.rodapePrincipal-patrocinadores .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.rodapePrincipal-contatoForm{
    width: 30%;
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}
